<div class="jumbotron">
    <h1>asp.net</h1>
    <p class="lead">asp.net is a free web framework for building great web sites and web applications using html, css, and javascript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>getting started</h2>
        <p>asp.net web api is a framework that makes it easy to build http services that reach
        a broad range of clients, including browsers and mobile devices. asp.net web api
        is an ideal platform for building restful applications on the .net framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301870">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>get more libraries</h2>
        <p>nuget is a free visual studio extension that makes it easy to add, remove, and update libraries and tools in visual studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301871">learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>web hosting</h2>
        <p>you can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?linkid=301872">learn more &raquo;</a></p>
    </div>
</div>
