<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PetkoDataBase" 
         connectionString="Server=DESKTOP-FCG26GG\SQLEXPRESS;Database=CoffeeDb;Trusted_Connection=True;" 
         providerName ="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>